.clear {
    clear: both;
    width: 100%;
}

.logo img {
    width: 240px;
    height: 178px;
}

.bloco-topo {
    padding: 15px 15px 0px 15px;
    margin: 15px 15px 0px 15px;
}

.bloco-topo .tab-2 {
    height: 90px;
}

.botao-ouvir {
    background: url("../../../images/botao-ouvir.png" ) 50% 0 no-repeat !important;
    width: 260px;
    height: 76px;
}

.slogan {
    font-family: Lato, Arial, Verdana;
    font-size: xx-large;
}

.navbar-default {
    background-color: white !important;
    border-color: #008cce !important;
}

div#menu-topo {
    margin-top: 30px;
}

.item-menu {
    padding: 8px 19px;
    margin: 0px 0px;
}

#menu-topo .navbar-default .navbar-nav>.active>a,
#menu-topo .navbar-default .navbar-nav>.active>a:focus,
#menu-topo .navbar-default .navbar-nav>.active>a:hover {
    background-color: #008DD1;
}

#menu-topo .navbar-default .navbar-nav>.active>a:hover {
    font-weight: bold;
}

#menu-topo .navbar-nav>li>a {
    padding: 0px !important;
    margin: 0px !important;
}

#menu-topo .navbar-default .navbar-nav>li>a {
    color: #000000;
}

li.active.item-menu.item-menu-info, li.item-menu.item-menu-info {
    background-color: #008DD1;
}

li.item-menu.item-menu-sucess {
    background-color: #13B52F;
}

li.item-menu.item-menu-missao {
    background-color: #7711B1;
}

li.item-menu.item-menu-eventos {
    background-color: #CD0099;
}

li.item-menu.item-menu-noticias {
    background-color: #FF7500;
}

li.item-menu.item-menu-estudos {
    background-color: #E8BC00;
}

li.item-menu.item-menu-downloads {
    background-color: #CD0099;
}

li.item-menu.item-menu-contato {
    background-color: #8B8B8B;
}

.texto-bonito {
    color: #3656ff;
}

#menu-topo .navbar {
    margin-bottom: 0px;
    min-height: 38px;
}

.barra-azul {
    background-color: #008CCE;
    height: 5px;
}

section#banner {
    padding: 0;
}

section#corpo {
    margin: 15px;
    padding: 15px;
}

section#corpo .coluna-item {
    margin: 5px 0px 7px 0px;
}

section#corpo .col-imagem {
    background-color: #7B7B7B;
    height: 130px;
    width: 190px;
}

section#rodape .rodape-bloco {
    height: 305px;
    background-color: #7D98DC;
}

section#rodape .rod-coluna2 .fundo-pergaminho {
    margin: 20px 20px 10px 30px;
    background: url("../../../images/fundo-versiculo.png" ) 50% 0 no-repeat;
    height: 278px;
    width: 593px;
}

section#rodape .rod-coluna2 .fundo-pergaminho {
    color: #703D19;
}

.rod-coluna1 h2, .rod-coluna1 .txt-meditacoes {
    margin: 50px 20px 10px 30px;
}

section#rodape .rod-coluna1 {
    color: white;
}

section#rodape .rod-coluna2 h2 {
    margin: 20px 20px 10px 20px;
    padding: 50px 15px 0px 20px;
}

section#rodape .rod-coluna2 .txt-versiculo {
    margin: 15px 20px;
    padding: 15px 15px 15px 20px;
}

@media (max-width: 768px) {
    .navbar-nav{
        display: none;
    }
}

@media (min-width: 768px) {
    #menu-topo .navbar {
        border-radius: 0px;
    }
}